@tailwind base;
@tailwind components;
@tailwind utilities;



/* CSS for the outer container */
.box-container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(19, 19, 115);
}



/* CSS for the container of cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  background-color: rgb(8, 8, 146);
}

/* CSS for individual cards */
.card {
  background-color: #00bcd4;
  color: white;
  width: 250px;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* CSS for headings inside the cards */
.card h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* CSS for paragraphs inside the cards */
.card p {
  margin-bottom: 8px;
}

.head-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
